# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
venv/
.env
.venv

# Django
db.sqlite3
*.log
staticfiles/
media/

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Migrations
**/migrations/**
!**/migrations/__init__.py
